 
<mat-card> {{groupTitle}} <mat-icon>arrow_left</mat-icon> {{title}} </mat-card>

<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile > 
  </mat-grid-tile> 
  <mat-grid-tile > 
  </mat-grid-tile> 
  
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary" *ngIf="pnlFirstPage" (click)="onOpenCreateEditFormPanel()">ثبت جدید</button>
       
    <button mat-raised-button class="me-1 btn btn-warning" *ngIf="pnlBackForms" (click)="onBackAll()">بازگشت</button>    
  </mat-grid-tile>
</mat-grid-list>
<br>

<br>
<div class="row" id="pnlFilter" class="panel" *ngIf="pnlFirstPage">

    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search</mat-icon> جستجو 
          </mat-panel-title> 
        </mat-expansion-panel-header> 
    <div class="row">
         
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>از سال</mat-label>
          <input matInput class="ltrInput" [(ngModel)]="filterData.year" name="year" [textMask]="{mask: _sharedService.yearMask}" pattern="[1-4]\d{3}" value="{{_sharedService.dateNow.substr(0,4)}}" #year="ngModel">
        
        </mat-form-field>  
      </div>
 
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-label>نوع تایید</mat-label>
        <br>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="filterData.status" name="status" #status="ngModel">
          <mat-radio-button *ngFor="let item of _sharedService.cartableStatus; index as i" value="{{i}}">{{item}}</mat-radio-button>  
        </mat-radio-group>   
      </div>
 
     </div>
 
      
    <div Class="row">
 
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile> 
        </mat-grid-tile> 
        <mat-grid-tile> 
        </mat-grid-tile> 
        
        <mat-grid-tile class="text-center">
          <button *ngIf="showRegisterButton" mat-raised-button color="primary" (click)="getGridList()">جستجو</button> 
        </mat-grid-tile>
      </mat-grid-list>
 
    </div> 
</mat-expansion-panel>
</div>

<br>

<div class="row" id="pnlData" *ngIf="pnlFirstPage" class="panel">

  
  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>list_alt</mat-icon> اطلاعات {{title}} 
        </mat-panel-title> 
      </mat-expansion-panel-header>
     
      <table mat-table matSort class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataList" >
          <ng-container matColumnDef="leaveType">
              <th  mat-header-cell *matHeaderCellDef> نوع مرخصی </th>
              <td mat-cell *matCellDef="let datarow"> {{_sharedService.leaveTypeList[datarow.leaveType]}} </td>
          </ng-container>  
          <ng-container matColumnDef="requestLeaveType">
            <th  mat-header-cell *matHeaderCellDef> نوع مرخصی </th>
            <td mat-cell *matCellDef="let datarow"> {{_sharedService.requestLeaveTypeList[datarow.requestLeaveType]}} </td>
          </ng-container>   
          <ng-container matColumnDef="fromDate_toDate">
            <th  mat-header-cell *matHeaderCellDef> از تاریخ - تا تاریخ </th>
              <td mat-cell *matCellDef="let datarow"> <span *ngIf="datarow.requestLeaveType == 0">{{datarow.fromDate}} - {{datarow.toDate}}</span> </td>
          </ng-container>  
          <ng-container matColumnDef="fromTime_toTime">
            <th  mat-header-cell *matHeaderCellDef> از ساعت - تا ساعت </th>
              <td mat-cell *matCellDef="let datarow"> <span *ngIf="datarow.requestLeaveType == 1">{{datarow.fromTime}} - {{datarow.toTime}}</span> </td>
          </ng-container>  
          <ng-container matColumnDef="status">
              <th  mat-header-cell *matHeaderCellDef> وضعیت </th>
              <td mat-cell *matCellDef="let datarow"> {{_sharedService.baseStatus[datarow.status]}} </td>
          </ng-container>    
          <ng-container matColumnDef="description">
              <th  mat-header-cell *matHeaderCellDef> شرح </th>
              <td mat-cell *matCellDef="let datarow"> {{datarow.description}} </td>
          </ng-container>   
          <ng-container  matColumnDef="actions">
            <th  mat-header-cell *matHeaderCellDef> عملیات </th>
            <td mat-cell *matCellDef="let datarow">
              <button mat-icon-button color="warn" (click)="onDelete(datarow)" *ngIf="datarow.status == 0" aria-label="Example icon-button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button  (click)="onEdit(datarow)" *ngIf="datarow.status == 0" aria-label="Example icon-button with a edit icon">
                <mat-icon>edit</mat-icon>
              </button> 
              <button mat-icon-button (click)="onDetail(datarow)" aria-label="Example icon-button with a edit icon">
                <mat-icon>assignment</mat-icon>
              </button> 
              <button mat-icon-button (click)="onConfirm(datarow)" *ngIf="datarow.status == 0" aria-label="Example icon-button with a edit icon">
                <mat-icon class="text text-success">check</mat-icon>
              </button> 
            </td>
  
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [length]="paytotalCount" [pageSize]="paginationService.pageSize" [pageSizeOptions]="paginationService.selectItemsPerPage"
          (page)="payonPageSwitch.emit($event)">
      </mat-paginator> -->
  
  </mat-expansion-panel>

</div>

<app-request-leave-register-panel *ngIf="pnlCreateEditForm" [Model]="NewEditRowModel" (submitClicked)="onSubmit($event)" [showRegisterButton]="showRegisterButton"></app-request-leave-register-panel>
