 
<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile > 
  </mat-grid-tile> 
  <mat-grid-tile > 
  </mat-grid-tile> 
  
  <mat-grid-tile class="text-center">
    <button mat-raised-button color="primary" *ngIf="pnlFirstPage" (click)="onOpenCreateEditFormPanel()">ثبت جدید</button>
       
    <button mat-raised-button class="me-1 btn btn-warning" *ngIf="pnlBackForms" (click)="onBackAll()">بازگشت</button>    
  </mat-grid-tile>
</mat-grid-list>
<br>

<div class="row" id="pnlData" *ngIf="pnlFirstPage" class="panel">

  
  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          اطلاعات {{title}}
        </mat-panel-title> 
      </mat-expansion-panel-header>
     
      <table mat-table matSort class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataList" >
          <ng-container matColumnDef="Name">
              <th  mat-header-cell *matHeaderCellDef> نام </th>
              <td mat-cell *matCellDef="let datarowrow"> {{datarowrow.firstName}} {{datarowrow.lastName}} </td>
          </ng-container>  
          <ng-container matColumnDef="EmpoloyeeNo">
              <th  mat-header-cell *matHeaderCellDef> کد پرسنلی </th>
              <td mat-cell *matCellDef="let datarowrow"> {{datarowrow.empoloyeeNo}} </td>
          </ng-container>   
          <ng-container matColumnDef="Status">
              <th  mat-header-cell *matHeaderCellDef> وضعیت </th>
              <td mat-cell *matCellDef="let datarowrow"> {{_sharedService.baseStatus[datarowrow.status]}} </td>
          </ng-container>    
          <ng-container matColumnDef="Description">
              <th  mat-header-cell *matHeaderCellDef> شرح </th>
              <td mat-cell *matCellDef="let datarowrow"> {{datarowrow.description}} </td>
          </ng-container>   
          <ng-container  matColumnDef="Actions">
            <th  mat-header-cell *matHeaderCellDef> عملیات </th>
            <td mat-cell *matCellDef="let datarowrow">
              <button mat-icon-button color="warn" (click)="onDelete(datarowrow)" aria-label="Example icon-button with a delete icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button  (click)="onEdit(datarowrow)" aria-label="Example icon-button with a edit icon">
                <mat-icon>edit</mat-icon>
              </button> 
              <button mat-icon-button (click)="onConfirm(datarowrow)"  aria-label="Example icon-button with a edit icon">
                <mat-icon class="text text-success">check</mat-icon>
              </button> 
            </td>
  
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [length]="paytotalCount" [pageSize]="paginationService.pageSize" [pageSizeOptions]="paginationService.selectItemsPerPage"
          (page)="payonPageSwitch.emit($event)">
      </mat-paginator> -->
  
  </mat-expansion-panel>

</div>

<app-request-leave-register-panel *ngIf="pnlCreateEditForm" [Model]="NewRequestLeaveModel" (submitClicked)="onSubmit($event)" [showRegisterButton]="showRegisterButton"></app-request-leave-register-panel>
