<br>
<div class="row" id="pnlCreateEditForm" class="panel">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>lock</mat-icon>  تغییر کلمه عبور  
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <form #form="ngForm" (submit)="onSubmitClick(form)" novalidate>
    <div class="row">
        
 
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>کلمه عبور قدیمی</mat-label>
          <input matInput [(ngModel)]="Model.fromDate" [textMask]="{mask: _sharedService.dateMask}" class="ltrInput" name="fromDate" #fromDate="ngModel" required=!timeLeave [pattern]="_sharedService.passwordPatern">
       
          <mat-error *ngIf="!form.controls['fromDate'].valid && form.controls['fromDate'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['fromDate']" fieldDisplayName="کلمه عبور قدیمی"></app-validation-message>
          </mat-error> 
        </mat-form-field>  
      </div>

      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>کلمه عبور جدید</mat-label>
          <input matInput [(ngModel)]="Model.toDate" [textMask]="{mask: _sharedService.dateMask}" class="ltrInput" name="toDate" #toDate="ngModel" required=!timeLeave [pattern]="_sharedService.passwordPatern">
          <mat-error *ngIf="!form.controls['toDate'].valid && form.controls['toDate'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['toDate']" fieldDisplayName="کلمه عبور جدید"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
  
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>تکرار کلمه عبور جدید</mat-label>
          <input matInput [(ngModel)]="Model.timeLeaveDate" [textMask]="{mask: _sharedService.dateMask}" class="ltrInput" name="timeLeaveDate" #toDate="ngModel" required=timeLeave [pattern]="_sharedService.passwordPatern">
          <mat-error *ngIf="!form.controls['timeLeaveDate'].valid && form.controls['timeLeaveDate'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['timeLeaveDate']" fieldDisplayName="تکرار کلمه عبور جدید"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
    
     </div>
 
     
 
    <div Class="row">
 
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile> 
        </mat-grid-tile> 
        <mat-grid-tile> 
        </mat-grid-tile> 
        
        <mat-grid-tile class="text-center">
          <button *ngIf="showRegisterButton" mat-raised-button class="btn btn-success" [disabled]="form.invalid" type="submit">ثبت</button> 
        </mat-grid-tile>
      </mat-grid-list>
 
    </div>
  </form>
</mat-expansion-panel>
</div>
