<br>
<div class="row" id="pnlCreateEditForm" class="panel">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>lock</mat-icon>  تغییر کلمه عبور  
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <form #form="ngForm" (submit)="onSubmitClick(form)" novalidate>
    <div class="row">
      <div Class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <span>توجه : کلمه عبور انتخابی بایستی شامل حروف و علامت و اعداد باشدو حداقل تعداد کاراکتر آن 8 کاراکتر باشد.</span>
      </div>
 
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>کلمه عبور قدیمی</mat-label>
          <input matInput [(ngModel)]="Model.OldPassword" type="Password" class="ltrInput" name="OldPassword" #OldPassword="ngModel" required="true" >
       
          <mat-error *ngIf="!form.controls['OldPassword'].valid && form.controls['OldPassword'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['OldPassword']" fieldDisplayName="کلمه عبور قدیمی"></app-validation-message>
          </mat-error> 
        </mat-form-field>  
      </div>

      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>کلمه عبور جدید</mat-label>
          <input matInput [(ngModel)]="Model.Password" type="Password" class="ltrInput" name="Password" #Password="ngModel" required="true" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[.#$^+=!*()@%&]).{8,}">
          <mat-error *ngIf="!form.controls['Password'].valid && form.controls['Password'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['Password']" fieldDisplayName="کلمه عبور جدید"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
  
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>تکرار کلمه عبور جدید</mat-label>
          <input matInput [(ngModel)]="Model.RePassword" type="Password" class="ltrInput" name="RePassword" #Password="ngModel" required="true" pattern="{{ Model.Password }}">
          <mat-error *ngIf="!form.controls['RePassword'].valid && form.controls['RePassword'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['RePassword']" fieldDisplayName="تکرار کلمه عبور جدید"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
    
     </div>
 
     
 
    <div Class="row">
 
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile> 
        </mat-grid-tile> 
        <mat-grid-tile> 
        </mat-grid-tile> 
        
        <mat-grid-tile class="text-center">
          <button mat-raised-button class="btn btn-success" [disabled]="form.invalid" type="submit">ثبت</button> 
        </mat-grid-tile>
      </mat-grid-list>
 
    </div>
  </form>
</mat-expansion-panel>
</div>
