<div class="container">
  <!-- <form class="form" [formGroup]="registrationFormGroup" autocomplete="off"> -->
    <div class="row">
      <div class="col-8 offset-2 col-md-4 offset-md-4">
        <h1>Reset Password</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-2 col-md-4 offset-md-4">
        <!-- <mat-form-field class="input" appearance="fill">
          <mat-label>Mobile Number</mat-label>
          <input type="text" matInput formControlName="mobileNumber" placeholder="Enter your mobile number"
            [disabled]="_loading">
        </mat-form-field>
        <mat-form-field class="input" appearance="fill" *ngIf="_stepNumber > 0">
          <mat-label>Verification Code</mat-label>
          <input type="text" matInput formControlName="verificationCode" placeholder="Enter verification code"
            [disabled]="_loading">
        </mat-form-field>
        <mat-form-field class="input" appearance="fill" *ngIf="_stepNumber > 0">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Enter password" [disabled]="_loading">
        </mat-form-field> -->
      </div>
    </div>
    <div class="row">
  
      <div class="col-8 offset-2 col-md-4 offset-md-4">
        <button mat-flat-button color="primary" (click)="Submit()"
          [disabled]="_loading" *ngIf="_stepNumber == 1">Submit Form</button>
      </div>
    </div>
    <div class="row" class="links">
      <div class="col-8 offset-2 col-md-4 offset-md-4">
        <span>Already have an account? <a routerLink="/login" class="link">Sign In</a></span>
      </div>
      <div class="col-8 offset-2 col-md-4 offset-md-4">
        <span>Not a member? <a routerLink="/register" class="link">Create Account</a></span>
      </div>
    </div>
  <!-- </form> -->
</div>
