 
<mat-accordion class="example-headers-align" dir="rtl">
  <form [formGroup]="loginFormGroup" autocomplete="off">
  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        ورود کاربران
      </mat-panel-title>
 
    </mat-expansion-panel-header>
<br>
  <div>
    <mat-form-field class="input" appearance="fill">
      <mat-label>username</mat-label>
      <input type="text" autocomplete="" matInput formControlName="username" placeholder="username" [(ngModel)]="loginModel.UserName" maxlength="100" #refusername="">
    </mat-form-field>

    <mat-form-field class="input" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" autocomplete="off" matInput formControlName="password" placeholder="password" [(ngModel)]="loginModel.PassWord" maxlength="100" #refpassword="">
    </mat-form-field>

    <mat-action-row>
        <button mat-flat-button color="primary" (click)="Login()"
          [disabled]="!loginFormGroup.valid">ورود</button>
    </mat-action-row>
    
  </div>
  
  </mat-expansion-panel>
 
</form>
</mat-accordion>
 