<mat-card> {{groupTitle}} <mat-icon>arrow_left</mat-icon> {{title}} </mat-card>
  
<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile > 
  </mat-grid-tile> 
  <mat-grid-tile > 
  </mat-grid-tile>  
  <mat-grid-tile class="text-center"> 
    <button mat-raised-button class="me-1 btn btn-warning" *ngIf="pnlBackForms" (click)="onBackAll()">بازگشت</button>    
  </mat-grid-tile>
</mat-grid-list>
 
<div class="row" id="pnlFilter" class="panel" *ngIf="pnlFirstPage">

    <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>search</mat-icon> جستجو 
          </mat-panel-title> 
        </mat-expansion-panel-header> 
        <div class="row">
         
          <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>از سال</mat-label>
              <input matInput class="ltrInput" [(ngModel)]="filterData.year" name="year" [textMask]="{mask: _sharedService.yearMask}" pattern="[1-4]\d{3}" value="{{_sharedService.dateNow.substr(0,4)}}" #year="ngModel">
            
            </mat-form-field>  
          </div>
     
          <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <mat-label>نوع تایید</mat-label>
            <br>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="filterData.status" name="status" #status="ngModel">
              <mat-radio-button value="0" checked="true">تایید نشده</mat-radio-button>  
              <mat-radio-button value="1">تایید شده</mat-radio-button>  
            </mat-radio-group>   
          </div>
     
         </div>
 
      
    <div Class="row">
 
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile> 
        </mat-grid-tile> 
        <mat-grid-tile> 
        </mat-grid-tile> 
        
        <mat-grid-tile class="text-center">
          <button mat-raised-button color="primary" (click)="getGridList()">جستجو</button> 
        </mat-grid-tile>
      </mat-grid-list>
 
    </div> 
</mat-expansion-panel>
</div>

<br>

<div class="row" id="pnlData" *ngIf="pnlFirstPage" class="panel">

  
  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>list_alt</mat-icon> اطلاعات {{title}} 
        </mat-panel-title> 
      </mat-expansion-panel-header>
     
      <table mat-table matSort class="mat-elevation-z8" style="width: 100%;" [dataSource]="dataList" > 
          <ng-container matColumnDef="FormNameFa">
            <th  mat-header-cell *matHeaderCellDef> کد درخواست </th>
            <td mat-cell *matCellDef="let datarow"> {{datarow.formNameFa}} </td>
          </ng-container>   
          <ng-container matColumnDef="signTitleFa">
            <th  mat-header-cell *matHeaderCellDef>  نوع امضاء </th>
              <td mat-cell *matCellDef="let datarow">{{datarow.signTitleFa}} </td>
          </ng-container>   
          <ng-container matColumnDef="fieldCode">
              <th  mat-header-cell *matHeaderCellDef> کد درخواست </th>
              <td mat-cell *matCellDef="let datarow"> {{datarow.fieldCode}} </td>
          </ng-container>    
          <ng-container matColumnDef="requestDate">
              <th  mat-header-cell *matHeaderCellDef> تاریخ درخواست </th>
              <td mat-cell *matCellDef="let datarow"> {{datarow.requestDate}} </td>
          </ng-container>   
          <ng-container  matColumnDef="actions">
            <th  mat-header-cell *matHeaderCellDef> عملیات </th>
            <td mat-cell *matCellDef="let datarow"> 
              <button mat-icon-button (click)="onDetail(datarow)" aria-label="Example icon-button with a edit icon">
                <mat-icon>assignment</mat-icon>
              </button>  
            </td>
  
          </ng-container>   
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [length]="paytotalCount" [pageSize]="paginationService.pageSize" [pageSizeOptions]="paginationService.selectItemsPerPage"
          (page)="payonPageSwitch.emit($event)">
      </mat-paginator> -->
  
  </mat-expansion-panel>

</div>

<app-request-leave-register-panel *ngIf="pnlRequestLeave" [Model]="RowModel" (submitClicked)="null" [showRegisterButton]="false"></app-request-leave-register-panel>


<br>
 
<div class="row" id="pnlSign" class="panel" *ngIf="pnlSign">

  <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>fingerprint</mat-icon> امضاء 
        </mat-panel-title> 
      </mat-expansion-panel-header> 
    
      <div class="row"> 
          
        <mat-grid-list cols="5" rowHeight="100px" *ngIf="btnConfirm">
          <mat-grid-tile > 
          </mat-grid-tile> 
          <mat-grid-tile > 
          </mat-grid-tile>  
          <mat-grid-tile class="text-center"> 
            <button mat-raised-button class="me-1 btn btn-success" (click)="onConfirm()">امضاء</button>      
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="5" rowHeight="100px" *ngIf="btnDeleteConfirm">
          <mat-grid-tile > 
          </mat-grid-tile> 
          <mat-grid-tile > 
          </mat-grid-tile>  
          <mat-grid-tile class="text-center"> 
            <button mat-raised-button class="me-1 btn btn-danger"(click)="onDeleteConfirm()">حذف امضاء</button>        
          </mat-grid-tile>
        </mat-grid-list>

        <mat-stepper
        class="example-stepper" >
 
        <mat-step *ngFor="let item of CartableRequestModel" label="{{item.cartableSigne.signTitleFa}}" [stepControl]="item.cartableSigne.signTitle">
          <ng-template matStepLabel > 
            
            <span>{{item.cartableSigne.signTitleFa}}</span> 
          </ng-template>
          <ng-template matStepContent> 
            <span>{{item.cartableSigned[0].employee}}</span>
            <br>
            <span>زمان امضاء : {{item.cartableSigned[0].signDate}} - {{item.cartableSigned[0].signTime}}</span> 
            <br>
            <span>شرح : </span> 
          </ng-template>
        </mat-step>
 
      </mat-stepper>

       </div>

 
</mat-expansion-panel>
</div>
