<mat-toolbar color="primary" dir="rtl">
  <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
 
    <span>سیستم یکپارچه آرکا</span> 
  <span class="example-spacer"></span>
  <span flex></span>
  
   <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
    </button>  
<mat-menu #menu="matMenu">
  <button mat-menu-item><mat-icon>build</mat-icon>تنظیمات</button>
  <button mat-menu-item (click)="Logout();"><mat-icon>lock</mat-icon>خروج</button>
</mat-menu>

</mat-toolbar>

<mat-sidenav-container fxFlexFill class="sidenav-container">

  <mat-sidenav color="primary" position="end" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
  
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">صفحه اصلی</a>
 
      <div class="text-center alert alert-success">ادمین</div>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/Tasks">دسترسی به کاربران <mat-icon>accessibility</mat-icon></a>

      <div class="text-center alert alert-success">کارمندان</div>
      <a mat-button (click)="sidenav.close()" routerLink="/employees/employee">کارمندان <mat-icon>wc</mat-icon></a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">فیش حقوقی <mat-icon>local_atm</mat-icon></a>
 
      <div class="text-center alert alert-success">کارتابل</div>
      <a mat-button (click)="sidenav.close()" routerLink="/cartables/cartable">کارتابل <mat-icon>assignment_turned_in</mat-icon></a>
      
      <div class="text-center alert alert-success">ورود خروج</div>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">گزارش ورود خروج <mat-icon>touch_app</mat-icon></a>
      <a mat-button (click)="sidenav.close()" routerLink="/inout/requestleave">ثبت مرخصی <mat-icon>transfer_within_a_station</mat-icon></a>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">فیش حقوقی من <mat-icon>local_atm</mat-icon></a>
      
      <div class="text-center alert alert-success">کالا و خدمات</div>
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">درخواست کالا و خدمات <mat-icon>group_work</mat-icon></a>
      
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard">رزرو غذا <mat-icon>fastfood</mat-icon></a>
      
      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/app/create">Item 6</a> 

      <a mat-button (click)="sidenav.close()" routerLink="/dashboard/Tasks">Tasks</a>
      <hr/>
      <a mat-button (click)="sidenav.close(); Logout();" class="red">خروج</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <div class="page-wrapper"  dir="rtl">
      <div class="container-fluid">
        <br>

        

        <router-outlet></router-outlet>
      </div>
    </div>

      
 
  </mat-sidenav-content>
</mat-sidenav-container>
